{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{{ page }} {{ dateStr }}{% endblock %}</h2>
{% endblock %}

{% block content %}
<h3>{{ tipo }}</h3>
  <div classs="pippo">
  <table class="parkTable">
    <tr>
    <td></td>
    {% for n in range(0,24) %}
        <td class="ora">{{ n }}</td>
    {% endfor %}
    </tr>
    {% set count = namespace(value=1) %}
    {% for nPosto in range(0,nPosti) %}
        <tr>
            <td class="cellPrenotabili">{{ count.value }}</td>
            {% for cell in dati[nPosto] %} 
                <td colspan={{ cell["lenCell"] }} class="{% if cell["turnoFlag"] == 0 %}cellPrenotata{% elif cell["turnoFlag"] == 1 %}cellPrenotataTurno{% endif %}">
                {{ cell["testo"] }}
                {% if cell["delId"] != "" %}<a style="color:red" href="{{ url_for('blog.annullaPrenotazione', obj_id=cell["delId"]) }}">{{ cell["annullaStr"] }}</a>{% endif %}
                </td>
            {% endfor %}
        </tr>
        {% set count.value = count.value + 1 %}
    {% endfor %}
    
    </table>
  </div>
  <div>
  <!--<button class="button button1">Prenota</button>-->
  <form method="POST" action="{{ url_for('blog.prenota')}}">
  <div style="display:flex;">
    <label style="width:90px" for="quantity">Posto n:</label>
    <input style="width: 100%" type="number" id="quantity" name="nPosto" min="1" max="{{ nPosti }}" required>
    </div>
    <div style="display:flex;">
    <label style="width:90px" for="quantity">Dalle:</label>
    <input style="width: 100%" type="number" id="quantity" name="dalle" min="0" max="22" required>
    </div>
    <div style="display:flex;">
    <label style="width:90px" for="quantity">Alle:</label>
    <input style="width: 100%" type="number" id="quantity" name="alle" min="3" max="24" required>
    </div>
    <input type="submit" value="Prenota" class="button button1">
    </form>
  </div>
{% endblock %}