{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Setting - Posti assegnati da turno{% endblock %}</h1>
{% endblock %}
{% block content %}
    <article>
        <header>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <h1 style="color: red; text-align:center">{{ setPage }}</h1>
        </header>
        <form method="post" action="{{ url_for('blog.salvaSetting', loc=setPage)}}">
        <table class="settingTable">
        <tr>
            <th>ID</th>
            <th></th>
            <th>Posto N</th>
            <th>dalle</th>
            <th>alle</th>
            <th>periodicità</th>
            <th class="expandCol">note</th>
        </tr>
        {% for nRow in range(0,50) %}
        <tr {% if val|length > nRow %}
            {% if val[nRow]['repeat'] == 'feriale' %} bgcolor="#dbfac3" {% elif val[nRow]['repeat'] == 'sabato'%} bgcolor="#d9f8fc" {% else %} bgcolor="#f8facf" {% endif %}
            {% endif %}>
            {% if val|length > nRow %}
            <th><input style="max-width:40px" type="number" id="id" name="id.{{ nRow }}" value={{ val[nRow]['id'] }} readonly></th>
            <th><a style="color:red; vertical-align: super;" class="fa fa-trash-o noDeco" href="{{ url_for('blog.delete_row_setting', obj_id=val[nRow]['id']) }}"></a></th>
            <th><input style="max-width:60px" type="number" id="quantity" name="nPosto.{{ nRow }}" min="1" max={{ totPosti }} value={{ val[nRow]['n_parcheggio'] }}></th>
            <th><input style="max-width:60px" type="number" id="quantity" name="dalle.{{ nRow }}" min="0" max="22" value={{ val[nRow]['dalle_ore'] }}></th>
            <th><input style="max-width:60px" type="number" id="quantity" name="alle.{{ nRow }}" min="3" max="24" value={{ val[nRow]['alle_ore'] }}></th>
            <th><select id="repeat.{{ nRow }}" name="repeat.{{ nRow }}" selected="sabato">
                    <option disabled > -- </option>
                    <option value="feriale" {% if val[nRow]['repeat'] == 'feriale' %} selected {% endif %}>feriale</option>
                    <option value="sabato" {% if val[nRow]['repeat'] == 'sabato' %} selected {% endif %}>sabato</option>
                    <option value="festivo" {% if val[nRow]['repeat'] == 'festivo' %} selected {% endif %}>festivo</option>
                </select></th>
            <th class="expandCol"><input style="width: 100%" type="text" id="note.{{ nRow }}" name="note.{{ nRow }}" value='{{ val[nRow]['note'] }}'></th>
            {% else %}
            <th><input style="max-width:40px" type="number" id="id" name="id.{{ nRow }}" readonly></th>
            <th></th>
            <th><input style="max-width:60px" type="number" id="quantity" min="1" max={{ totPosti }} name="nPosto.{{ nRow }}"></th>
            <th><input style="max-width:60px" type="number" id="quantity" name="dalle.{{ nRow }}" min="0" max="22"></th>
            <th><input style="max-width:60px" type="number" id="quantity" name="alle.{{ nRow }}" min="3" max="24"></th>
            <th><select id="repeat.{{ nRow }}" name="repeat.{{ nRow }}">
                    <option disabled selected value> -- </option>
                    <option value="feriale">feriale</option>
                    <option value="sabato">sabato</option>
                    <option value="festivo">festivo</option>
                </select></th>
            <th class="expandCol"><input style="width: 100%" type="text" id="note.{{ nRow }}" name="note.{{ nRow }}" ></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Salva">
    </form>

    
    </article>
{% endblock %}