{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}LogIn{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Matricola</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="LogIn">
  </form>
  <div><a class="action" href="{{ url_for('auth.reset_password') }}">Password Dimenticata ?</a></div>
{% endblock %}