<!doctype html>
<title>{% block title %}{% endblock %}Parcheggi</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Prenotazione Parcheggi Pdm</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('blog.index') }}">Home</a>
      <li><a href="{{ url_for('auth.logout') }}">LogOut</a>
      {% if g.user['admin'] == 1 %}
        <li><a href="{{ url_for('blog.setting_menu') }}">Settings</a>
      {% endif %}
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Registrazione</a>
      <li><a href="{{ url_for('auth.login') }}">LogIn</a>
    {% endif %}
  </ul>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
<section class="content">
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
